# Google Books API Key
REACT_APP_API_KEY=your_api_key

1. Obtain an API key from [Google Developers Console](https://console.developers.google.com/).
2. Create a new file named `.env` in the root directory of the project.
3. Add your API key to the `.env` file:
4. Replace your-api-key with your actual API key.